
body {
  font-family: 'Roboto', Sans-Serif;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
}
input, button {
  font-size: 1rem;
}
.playground {
  width: 30%;
  /* width: 100%; */
  min-height: 40em;
}


.sortable-list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* max-height: 20em; */
}

.draggable-box {
  border: 2px solid #888;
  margin-top: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 1.3em;
  font-family: 'Jockey One', Sans-Serif;
  border-radius: 0.5em;
  /* width: 14em; */
}

.draggable-box:hover {
  background-color: #e7ee86;
  cursor: move;
  cursor: -webkit-grab;
}

